@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-size: 16px;
    font-family:Inter, monospace, Roboto, Helvetica Neue, sans-serif;
    color:#1F2732;
}
body {
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
}

code, pre {
    font-family: monospace;
}
.header .inner-icon-mobi{
    display: none;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #EEECEC;
    background-color: white;
    z-index:1002;
    height: 98px;
    align-content: center;
}
.header-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}
/* .logo-header{
    margin-right: 32px;
} */
.header-container .logo-header{
    left: 320px;
    margin-right: 20px;
    width: 88px;
    height: 56px;
    cursor: pointer;
}
.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul li{
    display: inline-block;
    margin-left: 20px;
}
.menu ul li a{
    color: #000;
    text-decoration: none;
    width: 100%;
    line-height: 22px;
    font-weight: 600;
    font-size: 15px;
    white-space: nowrap;
    margin-right: auto;
}
.menu ul li a:hover{
    color: #F8881F;
}
.header-container .right-header{
    display: flex;
}
.right-header .icon-language{
    display: flex;
    justify-content: right;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
.right-header .book-container{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 57px;
    background-color: #F8881F;
    text-align: center;
    cursor: pointer;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    
}

.bg-contain{
    display: none;
}

@media (max-width:1199.98px) {
    .logo-header{
        display: none;
    }
    .menu{
        display: none;
    }
    .header .inner-icon-mobi{
        display: block !important;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        left: 30px;
    }
    
}

@media (max-width: 992.98px) {
    .login-container .images-container{
        display: none;
    }

}
@media (max-width: 767.98px) {
    .right-header .icon-language{
        display: none;
    }

}
@media (max-width: 576.98px) {
    .logo-header{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .right-header .book-container{
        display: none;
    }
    .bg-contain{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid #F8881F;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top:50%;
        right: 20px;
        transform: translateY(-50%);; 
    }
}

.button-text{
    color: white;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 700;
}
.login-container{
    height: calc(100* 9.63px - 98px);
}
.login-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 770px;
    background-color: #F6F8F8;
}
.login-container .images-container{
    width: 50%;
    height: 100%;
    background-image: url(../images/content2.22cc59e61c8743db.png);
}
.bg-cover{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.login-container .login-wrap{
    display: flex;
    width: 50%;
    max-width: 100%;
    height: 100%;
    justify-content: center;
    padding: 100px 0;
}
.login-container .login-wrap .login-form .forgot-password-link{
    display: block;
    text-align: right;
    margin-top: -20px;
    margin-bottom: 30px;
}
.login-container .login-wrap .login-form{
    width: 100%;
    max-width: 410px;
    height: 100%;
    
}
.login-container .login-wrap .login-form .or{
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
    margin: 20px 0;
}
.login-container .login-wrap .login-form .or::before,.login-container .login-wrap .login-form .or::after{
    content: "";
    height: 1px;
    background: #DDDDDD;
    margin: 0 10px;
    flex:1;
    
}
.login-container .login-wrap .login-form .title{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 80px;
}
.login-container .login-wrap .login-form .creat{
    margin-top: 20px;
    text-align: center;
}
.login-container .login-wrap .login-form .row-item{
    position: relative;
    margin-bottom: 14px;
}
.row-item-email,.row-item-password{
    margin-bottom: 20px;
}
.row-item-email-text{
    display: block;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
}
.row-item-text-box{
    position: relative;
    width: 100%;
}
.row-item-text-box .outline{
    display: flex;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    padding: 8px 10px 9px 18px;
    border-radius: 6px;
}
.row-item-text-box .outline input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px;
}
.row-item-text-box .outline input::placeholder {
    color: #aaa;
}

.row-item-text-box .outline i {
    color: #888;
    margin-left: 10px;
    cursor: pointer;
}

.button-login .login-btn{
    border-radius: 6px;
    background: #F8881F;
    color:white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 15px;
}

.social-login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-login-btn .social-zalo .zalo{
    width: 40px;
    height: 40px;
    margin-left: 40px;
}
.social-login-btn .social-gg .gg{
    width: 40px;
    height: 40px;

}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    background-color:#fff ;
}
.footer .footer-container{
    width:70%;
    padding: 96px 0 56px;
}
.footer .footer-container .footer-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
/* .footer .footer-container .footer-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */
.footer .footer-container .footer-menu .inner-introduce{
    width: 380px;
}
.footer .footer-container .footer-menu .inner-introduce .logo{
    display: block;
    width: 162px;
    height: 74px;
    margin-bottom: 32px;
    cursor: pointer;
}
.footer .footer-container .footer-menu .inner-address{
    width: 380px;
}
.footer .footer-container .footer-menu .inner-address .title{
    display: block;
    margin-bottom: 12px;
    color: #000;
    font-weight: 600;
    line-height: 22px;
}
.footer .footer-container .footer-menu .inner-address .title .sub-item{
    margin-bottom: 8px;
    color: #000;
}

.footer .footer-container .footer-menu .inner-address .sub-item a{
    display: block;
    margin-bottom: 12px;
    color: #000;
}
.footer .footer-container .footer-menu .inner-book{
    width: 380px;
}
.footer .footer-container .footer-map{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
}
.footer .footer-container .footer-map .map{
    margin-bottom: 4px;
    border: 0;
    border-radius: 4px;
}
.footer .footer-container .footer-menu .booking-button-btn .text{
    border-radius: 57px;
    background: #F8881F;
    color:white;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 15px;
}

@media (max-width: 1199.98px) {
    
}
